<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>

<body class="">
    <!-- รูปภาพพื้นหลังเต็มหน้าจอ -->
    <!-- <img src="/images/background.jpg" class="w-full h-screen object-cover" alt="Background Image" /> -->

    <!-- เนื้อหาอื่น ๆ เช่น header -->
    <header class="">

        <div class="">
            <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 pt-[150px]">

                hello world
            </div>
        </div>

    </header>

</body>

</html>